.glass {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(159, 159, 159, 0.195);
    color: white;
    text-align: center;
}
.minecraft {
background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1236/pack_3530346.jpg");
padding: 20px;
border-radius: 20px;


}
.st {
    background-color: rgb(255, 255, 255);
    padding: 20px;
border-radius: 20px;


}
.up {
    background-color: rgb(9, 99, 41);
    padding: 20px;
border-radius: 20px;

}

.button {
    text-align: center;
    margin-top: 20px;
}

.modern-btn {
    perspective: 1000px;
    background-color: #9da29d82; 
    border-color: black;
    border-width: 3px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.modern-btn:hover {
    background-color: #45a049; 
    transform: scale(1.7);
    margin-left: 10px;
    margin-Right: 10px;; /* 3D rotation on hover */
}
